.footer{
    position: fixed;
    bottom: 0;
    justify-content: flex-end;
    display: flex;
    min-height: 64px;
}
.footer > span{
    font-size: 1.1rem;
    font-weight: 300;
}
.mat-toolbar{
    color: black;
    background-color: white;
}